name: ci-dev-server
on:
  push:
    branches: [main]
    paths:
      - 'packages/dev-server/**'
  pull_request:
    branches: ['*']
    paths:
      - 'packages/dev-server/**'

jobs:
  ci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/dev-server
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: .tool-versions
          cache: yarn
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .tool-versions
      - run: yarn install
      - run: yarn build
      - run: npx playwright install --with-deps
      - run: yarn test
