name: ci
on:
  push:
    branches: [main]
    paths:
      - 'packages/**'
  pull_request:
    branches: ['*']
    paths:
      - 'packages/**'

jobs:
  ci:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./
    strategy:
      matrix:
        task: [format, lint]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: .tool-versions
          cache: yarn
      - run: yarn install --frozen-lockfile
      - name: Run task
        run: yarn ${{ matrix.task }}
